<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Categories</title>
  <link href="/CSS/Categories.css" rel="stylesheet">
</head>

<body>

  <header>
    <div class="logot" onclick="window.location.href = '/HomePage';">
      <img src="/Images/Book.png">
      <h2 class="brandn">BOOKWORM</h2>
    </div>

    <div class="menuDiv circle">
      <ul id="topMenu">
        <li class="lt"><a href="/HomePage">Home</a></li>
        <li><a href="/Categories">Categories</a></li>
        <li><a href="/topSellers">Top Sellers</a></li>
        <li><a href="/AboutUs">About us</a></li>
        <li class="rt"><a href="/ContactUs">Contact us</a></li>
      </ul>
    </div>

    <div class="profile">
      <form>
        <input class="search" type="text" name="Search" id="" placeholder="Search">
        <button type="submit"><img src="/Images/search.png" alt=""></button>
      </form>
      <% if (userId) { %>
        <div class="dropdown">
          <a href="/profile"><img class="prof_photo" src="/Images/profile.png" alt="profile"></a>
          <div class="dropdown-content">
            <a class="t" href="/profile">Profile</a>
            <a class="m" href="/SignOut">Sign Out</a>
            <a class="b" href="/cart">Cart</a>
          </div>
        </div>
        <div class="cart">
          <a href="/cart"><img class="cart_photo" src="/Images/cart.png"></a>
        </div>
        <% } else { %>
          <div class="dropdown">
            <a href="#"><img class="prof_photo" src="/Images/profile.png" alt="profile"></a>
            <div class="dropdown-content">
              <a class="t" href="SignIn.html">Sign In</a>
              <a class="b" href="SignUp.html">Sign Up</a>
            </div>
          </div>
          <div class="cart">
            <a href="#"><img class="cart_photo" src="/Images/cart.png"></a>
          </div>
          <% } %>
    </div>

  </header>

  <main>
    <h2 class="title">All Categories</h2>
    <div class="categories">
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/Action.jpeg);" value="">
        <input type="hidden" name="category" value="Adventure">
        <h4>Action and Adventure</h4>
      </form class="cards" action='/Section' method="post">
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/Dune.jpg);" value="">
        <input type="hidden" name="category" value="Sci Fi">
        <h4>Science Fiction (Sci-Fi)</h4>
      </form>
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/Horror.jpg);" value="">
        <input type="hidden" name="category" value="Horror">
        <h4>Horror</h4>
      </form>
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/Fantasy.jpeg);" value="">
        <input type="hidden" name="category" value="Fantasy">
        <h4>Fantasy</h4>
      </form>
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/Crime.jpg);" value="">
        <input type="hidden" name="category" value="Crime">
        <h4>Crime</h4>
      </form>
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/comics.jpg);" value="">
        <input type="hidden" name="category" value="Comics">
        <h4>Comics</h4>
      </form>
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/Education.jpg);" value="">
        <input type="hidden" name="category" value="Education">
        <h4>Education</h4>
      </form>
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/Manga.png);" value="">
        <input type="hidden" name="category" value="Manga">
        <h4>Manga</h4>
      </form>
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/Romance.jpeg);" value="">
        <input type="hidden" name="category" value="Romance">
        <h4>Romance</h4>
      </form>
      <form class="cards" action='/Section' method="post">
        <input class="img" type="submit" style="background-image:url(/Images/SH.jpeg);" value="">
        <input type="hidden" name="category" value="Self-Help">
        <h4>Self-Help</h4>
      </form>
    </div>


  </main>
  <footer>
    <div class="about">
      <h4>ABOUT BOOKWORM</h4>
      <p>BOOKWORM began as an idea to help support bookstores and their communities at a time when more and more
        people were
        buying their books online. We saw an opportunity to create an alternative to Amazon for socially-conscious
        online
        shoppers.</p>
      <h3 class="cont">Telephone: +20 111 937 7388</h3>
      <h3 class="cont">Email: support@Book.com</h3>
    </div>
    <div class="book">
      <h4>BOOKWORM</h4>
      <ul>
        <li><a href="/HomePage">Home</a></li>
        <li><a href="Categories">Categories</a></li>
        <li><a href="AboutUs">About Us</a></li>
        <li><a href="ContactUs">Contact Us</a></li>
      </ul>
    </div>
    <div class="help">
      <h4>HELP AND SUPPORT</h4>
      <ul>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Terms Of Service</a></li>
      </ul>
    </div>
  </footer>

</body>

</html>