@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
body{
  background-image: url("/Images/back.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ! HEADER CSS */

header{
  display: flex;
  justify-content: space-between;
  /* background-color: #CD853F; */
  background-color: #000000;
  color:#fff;
}

/* * START LOGO */
.logot{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logot img{
  width: 50px;
  padding: 4%;
}

.logot h2{
  padding-left: calc(1px + 0.6vw);
  padding-right: calc(1px + 0.6vw);
  font-size: calc(5px + 1.3vw);
  font-weight: 600;
}
/* *END LOGO */

/* * START NAVIGATION BAR */
.menuDiv {
  /* margin-left: 70px; */
  margin-left: calc(7px + 8vw);
  background-color: #000000;
  color: #2e70a9;
  border-radius: 10px;
}

.menuDiv ul {
  display: flex;
}
.menuDiv ul li {
  list-style: none;
}

.menuDiv ul li a {
  color: rgb(255, 255, 255) ;
  text-decoration: none;
  padding: calc(3px + 1.12vw);
  display:  flex;
  align-content: center;
  font-size: calc(2px + 1.1vw);
  transition: ease-in-out all .3s;
  text-align: center;
}

.menuDiv ul li a:hover {
  color: #fff;
  font-size: calc(4px + 1vw);
  background: #2e70a9;
}

#topMenu .lt :hover {
  color: #fff;
  background: #2e70a9;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

#topMenu .rt :hover {
  color: #fff;
  background: #2e70a9;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* * END NAVIGATION BAR */

/* * START PROFILE MENU */
.profile , .cart {
    /* background-color: chocolate; */
    display: flex;
    align-items:center;
    justify-content:flex-end;
  }
  
  .prof_photo {
    width: calc(8px + 3vw);
    padding-right: calc(0.5px + 1vw);
    padding-left: calc(0.5px + 1vw);
  }
  
  .cart_photo{
    width: calc(8px + 3vw);
    padding-right: calc(1px + 1vw);
    cursor:pointer;  
  }

.profile form input {
  width: calc(5px + 13vw);
  height: calc(10px + 1.5vw);
  border: 3px solid black;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

input,
input::-webkit-input-placeholder {
  font-size: calc(5px + 1vw);
  line-height: 3;
}

.profile form button {
  background: #DC143C;
  color: white;
  border: 3px solid black;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: calc(26px + 0.8vw);
}

.profile form button img{
  width: calc(5px + 1.3vw);
}

.profile form {
  display: flex;
  padding-left: calc(1px + 0.6vw);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: #fff;
  border-radius: 10px;
  margin-left: calc(2px + 0.5vw);
}

.dropdown-content a {
  color: #fff;
  padding: calc(1px + 0.5vw);
  text-decoration: none;
  display: block;
  font-size: calc(4px + 0.8vw);
}

.dropdown-content .t:hover {
  background-color: #2e70a9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.dropdown-content .b:hover {
  background-color: #2e70a9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content .m:hover {
  background-color: #2e70a9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* *END PROFILE MENU */

.view_item .img{
  width: calc(60px + 4.3vw);
  height:100%;
  border-radius: 5px;
  cursor: pointer;
  aspect-ratio: 3/4;
  background-size: cover;
  background-position: 5%;
  margin-right: 25px;
}
.list-view .view_item {
  /* background: linear-gradient(90deg, rgb(219, 165, 107), #E38B29); */
  background: linear-gradient(90deg, rgba(132, 131, 130, 0.717), #575757b1);
  border: 3px solid rgba(0, 0, 0, 0.73);
  padding: 0.8% 1.5%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  z-index: -100;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.list-view{
  margin-bottom: 20px;
}
.list-view .view_item .vi_left{
  margin-right: 1.9%;
}

.view_item .title{
  font-weight: 700;
  cursor: pointer;
}
.view_item .author{
  font-weight: 500;
}

.view_item .content{
  margin: 5px 0;
  font-size: calc(5px + 0.7vw);
  font-weight: 400;
}

.view_item .btns{
  display: flex;
  align-items: center;
}

.view_item .btn1,.btn2 {
  font-size: calc(3px + 0.8vw);
  width: calc(20px + 6.2vw);
  background: rgba(0, 0, 0, 0.76);
  padding: 0.6%;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  font-weight: 250;
  cursor: pointer;
}
.view_item .btn2{
  margin-left: 0.8%;
}

.view_item .btn1:hover , .btn2:hover {
  background: rgba(60, 56, 56, 0.717);
}

.author{
  font-size: calc(5px + 0.8vw);
}
.title{
  font-size: calc(5px + 0.8vw);
}

footer {
  display: flex;
  padding: calc(1px + 0.8vw);
  justify-content: space-evenly;
  background-color: #000000;
  color:#fff;
  position: relative;
  /* top: 470px; */
}

.about {
  width: 30%;
}

.about h4 {
  margin: 2%;
  text-align: center;
  font-size: calc(10px + 0.8vw);
  color: #FFF0F5;
}

.about p {
  padding-bottom: 5%;
  text-align:justify;
  color: #FFF0F5;
  font-size: calc(5px + 0.6vw);
  /* border: 2px solid black; */
}

.cont {
  color: #FFF0F5;
  font-size: calc(8px + 0.6vw);
}

.book,
.help{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.book h4,
.help h4{
  color: #FFF0F5;
  margin: 2%;
  font-size: calc(10px + 0.8vw);
  text-align: center;
}

.book ul,
.help ul{
  align-self: center;
}

.book ul li,
.help ul li{
  list-style: none;
  font-size: calc(7px + 0.9vw);
  margin: calc(2px + 0.5vw);
}

.book ul li a,
.help ul li a{
  text-decoration: none;
  color: #FFF0F5;
 }
